@using Core.AppState.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index book 1</h1>
    @{
        var address = ViewData["Address"] as Address;
    }
    <h1>@ViewData["Gree"]</h1>
    <h1>@address.name</h1>
    <h1>@address.city</h1>
    <hr />
    <p>---------------------</p>
    <h1>@ViewBag.Greeting</h1>
    <h1>@ViewBag.Address.name</h1>
    <h1>@ViewBag.Address.city</h1> 
    <form action="/Book/Index2" method="post">
        <button type="submit">Next</button>
    </form>

</body>
</html>
